@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 38 100% 94%; /* #FFF2E0 */
    --foreground: 236 30% 30%; /* Darker blue for text */
    --card: 38 100% 94%;
    --card-foreground: 236 30% 30%;
    --popover: 38 100% 94%;
    --popover-foreground: 236 30% 30%;
    --primary: 236 32% 65%; /* #898AC4 */
    --primary-foreground: 38 100% 94%; /* #FFF2E0 */
    --secondary: 227 44% 74%; /* #A2AADB */
    --secondary-foreground: 38 100% 94%;
    --muted: 227 61% 84%; /* #C0C9EE */
    --muted-foreground: 236 30% 30%;
    --accent: 227 61% 84%; /* #C0C9EE */
    --accent-foreground: 236 30% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 38 100% 94%;
    --border: 227 61% 84%; /* #C0C9EE */
    --input: 227 61% 84%;
    --ring: 227 44% 74%; /* #A2AADB */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 236 30% 15%;
    --foreground: 38 100% 94%;
    --card: 236 30% 15%;
    --card-foreground: 38 100% 94%;
    --popover: 236 30% 15%;
    --popover-foreground: 38 100% 94%;
    --primary: 227 61% 84%;
    --primary-foreground: 236 30% 15%;
    --secondary: 227 44% 74%;
    --secondary-foreground: 236 30% 15%;
    --muted: 236 30% 25%;
    --muted-foreground: 38 100% 94%;
    --accent: 236 30% 25%;
    --accent-foreground: 38 100% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 38 100% 94%;
    --border: 236 30% 25%;
    --input: 236 30% 25%;
    --ring: 227 44% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
